<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<title><!--@@var = title-->온도존</title>

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="아름다운 디자인과 강력한 기능을 겸비한 생활가전, 플러스마이너스제로 | 꼭 필요한 기능만을 담아 작지만 적정한 크기로 공간의 부담을 줄입니다.">
<meta name="keywords" content="플러스마이너스제로, 플마제, PLUSMINUSZERO, 플러스마이너스제로청소기, 플러스마이너스제로공기청정기, 플마제청소기, 플러스마이너스제로선풍기, 플러스마이너스제로무선청소기, 플러스마이너스제로가습기, 플마제가습기">

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel="alternate" href="http://plusminuszero.kr" hreflang="ko" />

<meta property="og:title" content="플러스마이너스제로 PLUSMINUSZERO">
<meta property="og:description" content="아름다운 디자인과 강력한 기능을 겸비한 생활가전 브랜드입니다.">
<meta property="og:image" content="http://plusminuszero.kr/image/og_pmz_image.jpg">
<meta property="og:url" content="http://plusminuszero.kr">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="http://plusminuszero.kr">
<meta name="twitter:title" content="플러스마이너스제로 PLUSMINUSZERO">
<meta name="twitter:description" content="아름다운 디자인과 강력한 기능을 겸비한 생활가전 브랜드입니다.">
<meta name="twitter:image" content="http://plusminuszero.kr/image/og_pmz_image.jpg">

<link rel="shortcut icon" href="./favicon.ico">
<!-- <link rel="icon" type="image/png" href="/favicon.png"> -->

<link rel="stylesheet" href="./css/style.css">

</head>

<body>

  <!-- skip navigation -->
  <div class="skip-nav">
    <a href="#contents">Go To Contents</a>
  </div>

  <!-- wrap -->
  <div id="wrap">

    <header id="header">
      <div>
        <h1><a href="/">ONDOZONE</a></h1>
        <!-- gnb -->
        <aside id="gnb">
          <nav>
            <ul>
              <li><a href="">Intro</a></li>
              <li><a href="">Feature</a></li>
              <li><a href="">Store</a></li>
            </ul>
          </nav>
        </aside>
        <!-- //gnb -->
      </div>
  
    </header>
  
    <article id="contents">
  
      <!--@@placeholder = contents -->
  
    </article>
  
    <footer id="footer">
      <h2 class="invisible">하단 영역</h2>
    </footer>

  </div>
  <!-- //wrap -->

  <!-- jquery cdn -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/quicklink.umd.js"></script>
  <script src="./js/jquery.lazyload.js"></script>
  <script src="./js/js.js"></script>
</body>

</html>