
// visual
.visual {
  position:relative;
  width:100%;
  background-color:#000;
  text-align:center;
  .mediaobject-ios-inline-video {
    width:auto;
    height:calc(100vh - 50px);
  }
  .hero-headline-elements {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translateY(-50%);
    color:#fff;
    font-size:rem(96);
    font-weight:700;
    span {
      text-shadow: 3px 5px 10px #333;
    }
  }
}

// card-section
.card-section {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  max-width:1068px;
  margin:0 auto;
  > section {
    width:50%;
    border:5px solid transparent;
    > div {
      display:flex;
      width:100%;
      justify-content: center;
      align-items: center;
      height:530px;
      color:#fff;
      background-color:#000;
    }
  }
}