
// visual
.visual {
  position:relative;
  width:100%;
  background-color:#000;
  text-align:center;
  .video {
    width:auto;
    height:100vh;
    // height:calc(100vh - 50px);
  }
  .headline {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translateY(-50%);
    color:#fff;
    font-size:rem(96);
    font-weight:700;
    span {
      text-shadow: 3px 5px 10px #333;
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    .video {
      width:100%;
      height:auto;
    }
    .headline {
      font-size:rem(60);
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .video {
      width:100%;
      height:auto;
    }
    .headline {
      font-size:rem(28);
    }
  }
}

// card-section
.card-section {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  max-width:1068px;
  margin:0 auto;
  padding:5px 0;
  > section {
    position:relative;
    width:50%;
    border:5px solid transparent;
    perspective: 1800px;
    transform-style: preserve-3d;
    > div {
      display:flex;
      width:100%;
      justify-content: center;
      align-items: center;
      height:530px;
      color:#fff;
      background-color:#000;
      backface-visibility: hidden;
      transition:all .8s ease-in-out; 
    }
    > .detail {
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      background-color:#222;
      transform:rotateY(180deg);
    }

    // z-index-up
    &.z-index-up {
      z-index:11;
    }

    // active
    &.active {
      > .thum {
        opacity:0;
        transform:rotateY(180deg);
      }
      > .detail {
        opacity:1;
        transform:rotateY(0deg);
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    padding:5px;
    > section {
      > div {
        height:440px;
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    padding:5px;
    > section {
      width:100%;
      > div {
        height:400px;
      }
    }
  }

}