// agree style
.agree-contents {
  &:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:1px;
    background-color:#dddbd8;
  }
  position:relative;
  margin:0 auto;
  padding:65px 6% 100px 0;
  overflow:hidden;
  .title-box {
    position:absolute;
    top:65px;
    left:75px;
    h2 {
      font-size:rem(24);
      line-height:1.39;
    }
  }
  .agree-box {
    padding-left:37.5%;
    > div {
      font-family:$font-base-stack;
      font-size:rem(14);
      line-height:1.9;
      letter-spacing:-0.2px;
      h3,
      h4,
      p,
      li {
        font-size:rem(14);
        line-height:1.9;
        letter-spacing:-0.2px;
      }
      h3,
      h4 {
        margin-bottom:25px;
      }
      p + h3,
      ol + h3,
      ul + h3,
      p + h4,
      ol + h4,
      ul + h4 {
        margin-top:50px;
      }
      p + p {
        margin-top:30px;
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle) {
    padding:35px 30px 65px 30px;
    .title-box {
      position:static;
      h2 {
        font-size:rem(16);
      }
    }
    .agree-box {
      padding:30px 0 0;
      > div {
        font-size:rem(10);
        font-weight:300;
        line-height:1.7;
        h3,
        h4,
        p,
        li {
          font-size:rem(10);
          font-weight:300;
          line-height:1.7;
        }
        h3,
        h4 {
          margin-bottom:20px;
        }
        p + h3,
        ol + h3,
        ul + h3,
        p + h4,
        ol + h4,
        ul + h4 {
          margin-top:30px;
        }
        p + p {
          margin-top:20px;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall) {
    padding:28px 20px 30px 20px;
    .title-box {
      position:static;
      h2 {
        font-size:rem(15);
      }
    }
    .agree-box {
      padding:25px 0 0;
      > div {
        font-size:rem(8);
        font-weight:300;
        line-height:1.75;
        h3,
        h4,
        p,
        li {
          font-size:rem(8);
          font-weight:300;
          line-height:1.75;
        }
        h3,
        h4 {
          margin-bottom:15px;
        }
        p + h3,
        ol + h3,
        ul + h3,
        p + h4,
        ol + h4,
        ul + h4 {
          margin-top:25px;
        }
        p + p {
          margin-top:15px;
        }
      }
    }
  }

}

// return _ 반품
.return-contents {
  > div {
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:0;
      right:0;
      height:1px;
      background-color:#dddbd8;
    }
    position:relative;
    margin:0 auto;
    padding:50px 6% 100px 0;
    overflow:hidden;
    .title-box {
      position:absolute;
      top:50px;
      left:75px;
      h2 {
        font-size:rem(24);
        line-height:1.39;
      }
    }
    .con-box {
      padding-left:37.5%;
      > div {
        font-family:$font-base-stack;
        font-size:rem(14);
        line-height:1.9;
        letter-spacing:-0.2px;
        li {
          font-size:rem(14);
          line-height:1.9;
        }
        .dl-list-1 {
          dt {
            font-weight:500;
            line-height:1.9;
          }
          dd {
            margin-bottom:30px;
            line-height:1.9;
          }
        }
      }
    }
  
    // tablet
    @include mediaQuery($deviceMiddle) {
      padding:35px 30px 65px 30px;
      .title-box {
        position:static;
        h2 {
          font-size:rem(16);
        }
      }
      .con-box {
        padding:30px 0 0;
        > div {
          font-size:rem(13);
          font-weight:300;
          line-height:1.77;
          li {
            font-size:rem(13);
            font-weight:300;
            line-height:1.77;
          }
          .dl-list-1 {
            dt {
              line-height:1.77;
            }
            dd {
              margin-bottom:20px;
              line-height:1.77;
            }
          }
        }
      }
    }
  
    // tablet
    @include mediaQuery($deviceSmall) {
      padding:28px 20px 30px 20px;
      .title-box {
        position:static;
        h2 {
          font-size:rem(15);
        }
      }
      .con-box {
        padding:25px 0 0;
        > div {
          font-size:rem(13);
          line-height:1.77;
          li {
            font-size:rem(13);
            line-height:1.77;
          }
          .dl-list-1 {
            dt {
              line-height:1.77;
            }
            dd {
              margin-bottom:20px;
              line-height:1.77;
            }
          }
        }
      }
    }
  }

}

// faq
.faq {
  padding:65px 72px 80px 72px;
  border-top:1px solid #dbdad7;
  h2 {
    margin-bottom:25px;
    font-size:rem(24);
  }
  .faq-list {
    padding:0 0 0 36%;
    border-top:1px solid #dbdad7;
    li {
      border-top:1px solid #dbdad7;
      &:first-child {
        border-top:none;
      }
      > a {
        display:block;
        padding:20px 30px 20px 30px;
        color:inherit;
        font-size:rem(16);
        line-height:1.76;
      }
      .answer {
        display:none;
        padding:0 30px 30px 30px;
        font-size:rem(16);
        line-height:1.76;
        a {
          color:inherit;
        }
      }

      // active
      &.active {
        > a {
          font-weight:700;
        }
        .answer {
          display:block;
        }
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    padding:35px 30px 50px 30px;
    h2 {
      margin-bottom:20px;
      font-size:rem(16);
    }
    .faq-list {
      padding:0 0 0 0;
      li {
        a {
          padding:20px 0 20px 0;
          font-size:rem(13);
        }
        .answer {
          padding:0 0 20px 0;
          font-size:rem(13);
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    padding:25px 20px 50px 20px;
    h2 {
      margin-bottom:45px;
      font-size:rem(15);
    }
    .faq-list {
      padding:0;
      li {
        a {
          padding:15px 0 15px 0;
          font-size:rem(13);
        }
        .answer {
          padding:0 0 40px 0;
          font-size:rem(13);
        }
      }
    }
  }
}

// store
.store {
  position:relative;
  .title-box {
    position:absolute;
    top:50px;
    left:4%;
    h2 {
      font-size:rem(24);
      line-height:1.39;
    }
  }

  // store-list
  .store-list {
    a {
      color:inherit;
    }
    > li {
      display:flex;
      width:100%;
      padding:50px 0 50px 33%;
      border-top:1px solid #dbdad7;
      > a {
        width:145px;
        font-size:rem(18);
        line-height:1.39;
      }
      > ul {
        display:none;
        position:relative;
        width:100%;
        > li {
          position:relative;
          margin-top:20px;
          padding:4px 0 0 0;
          &:first-child {
            margin-top:0;
          }
          > a {
            font-size:rem(18);
            line-height:1.09;
          }
          ul {
            display:none;
            position:absolute;
            top:0;
            left:177px;
            padding:0 0 0 0;
            @include fontNone;
            li {
              padding-top:25px;
              &:first-child {
                padding-top:0;
              }
              p {
                font-size:rem(14);
                line-height:1.65;
                &.tit {
                  margin-bottom:10px;
                  font-weight:500;
                }
              }
            }
          }

          // depth2 active
          &.hide {
            > a {
              color:#c1c1c1;
            }
          }
          &.active {
            ul {
              display:block;
            }
          }
        }
      }

      // depth1 active
      &.active {
        > ul {
          display:block;
        }
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    .title-box {
      top:40px;
      left:30px;
      h2 {
        font-size:rem(16);
        line-height:1.31;
      }
    }

    // store-list
    .store-list {
      > li {
        padding:40px 0 40px 25%;
        > a {
          width:78px;
          font-size:rem(16);
          line-height:1.31;
        }
        > ul {
          > li {
            margin-top:10px;
            padding:0 0 0 0;
            &:first-child {
              margin-top:0;
            }
            > a {
              font-size:rem(12);
              line-height:1.09;
            }
            ul {
              top:3px;
              left:100px;
              padding:0 0 0 0;
              @include fontNone;
              li {
                padding-top:30px;
                &:first-child {
                  padding-top:0;
                }
                p {
                  font-size:rem(12);
                  line-height:1.5;
                }
              }
            }
          }
        }

      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .title-box {
      position:static;
      border-top:1px solid #dbdad7;
      h2 {
        padding:25px 20px 45px 20px;
        font-size:rem(15);
        line-height:1.1;
      }
    }

    // store-list
    .store-list {
      a {
        color:inherit;
      }
      > li {
        flex-wrap:wrap;
        padding:0 0 0 0;
        border-top:1px solid #dbdad7;
        > a {
          position:relative;
          width:100%;
          padding:20px;
          font-size:rem(15);
          line-height:1.1;
          &:after {
            content:'';
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            width:50px;
            background:url("../image/common/path-1.png") no-repeat center center;
            background-size:11px 7px;
            transition:all .3s ease-in-out;
          }
        }
        > ul {
          width:100%;
          padding-bottom:20px;
          > li {
            margin-top:5px;
            padding:0;
            &:first-child {
              margin-top:0;
            }
            > a {
              padding:0 20px 0 20px;
              font-size:rem(12);
              line-height:1.1;
            }
            ul {
              position:static;
              padding:15px 0 15px 20px;
              @include fontNone;
              li {
                padding-top:20px;
                &:first-child {
                  padding-top:0;
                }
                p {
                  font-size:rem(11);
                  line-height:1.64;
                  &.tit {
                    margin-bottom:10px;
                    font-weight:500;
                  }
                }
              }
            }

            // depth2 active
            &.hide {
              > a {
                color:#c1c1c1;
              }
            }
            &.active {
              > a {
                font-weight:700;
              }
              ul {
                display:block;
              }
            }
          }
        }

        // depth1 active
        &.active {
          > a {
            &:after {
              transform:rotate(-180deg);
            }
          }
          > ul {
            display:block;
          }
        }
      }
    }
  }
}

// product-list
.product-list {
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
  > li {
    width:33.3333%;
    padding-bottom:100px;
    a {
      display:block;
      color:inherit;
      .image {
        position:relative;
        img {
          width:100%;
          vertical-align:top;
        }
        .hover {
          position:absolute;
          top:0;
          left:0;
          opacity:0;
          transition:all .2s ease-in-out;
        }
      }
      .title {
        height:65px;
        padding:36px 50px 0 50px;
        font-size:rem(21);
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
      }
      .price {
        height:40px;
        padding:13px 50px 0 50px;
        font-size:rem(18);
        font-weight:700;
      }

      // hover
      &:hover {
        .hover {
          opacity:1;
        }
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    > li {
      width:50%;
      padding-bottom:50px;
      a {
        .title {
          height:50px;
          padding:30px 30px 0 30px;
          font-size:rem(16);
        }
        .price {
          height:34px;
          padding:16px 30px 0 30px;
          font-size:rem(15);
        }
  
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    > li {
      width:50%;
      padding-bottom:35px;
      a {
        .title {
          height:28px;
          padding:15px 20px 0 20px;
          font-size:rem(11);
        }
        .price {
          height:18px;
          padding:7px 20px 0 20px;
          font-size:rem(11);
        }
  
      }
    }
  }
}

// product-detail
.product-detail {
  img {
    width:100%;
  }
  .pro-info {
    .info {
      position:relative;
      padding:50px 50% 170px 64px;
      .title {
        font-size:rem(42);
        font-weight:300;
        line-height:1.23;
      }
      .text-1 {
        margin-top:30px;
        font-size:rem(19);
        line-height:1.09;
      }
      .price {
        margin-top:15px;
        font-size:rem(22);
        font-weight:700;
        line-height:1;
      }
      .text-2 {
        margin-top:50px;
        font-size:rem(16);
        line-height:1.9;
      }
      .button {
        position:absolute;
        top:60px;
        right:80px;
      }
    }
  }
  .pro-content {
    .pro-con-1 {
      display:flex;
      flex-wrap:wrap;
      width:100%;
      > div {
        width:100%;
        margin-top:65px;
        &:first-child {
          margin-top:0;
        }
        &.w-type-1 {
          width:50%;
        }
      }
    }
    .pro-text-1 {
      display:flex;
      width:100%;
      align-items: center;
      padding:58px 60px 0 64px;
      p {
        &:first-child {
          width:33.333%;
          font-size:rem(25);
          line-height:1.68;
        }
        &:nth-child(2) {
          width:66.666%;
          font-size:rem(16);
          line-height:1.9;
        }
      }
    }
    .pro-con-2 {
      display:flex;
      flex-wrap:wrap;
      width:100%;
      justify-content: space-between;
      margin-top:155px;
      > div {
        width:33.3333%;
        .text-box {
          padding:55px 30px 150px 60px;
        }
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    .pro-info {
      .info {
        padding:20px 30px 50px 30px;
        .title {
          font-size:rem(26);
        }
        .text-1 {
          margin-top:15px;
          font-size:rem(16);
          line-height:1.09;
        }
        .price {
          font-size:rem(15);
        }
        .text-2 {
          margin:40px 0 25px;
          font-size:rem(13);
        }
        .button {
          position: static;
        }
      }
    }
    .pro-content {
      .pro-con-1 {
        > div {
          margin-top:27px;
        }
      }
      .pro-text-1 {
        padding:40px 30px 0 30px;
        p {
          &:first-child {
            width:40%;
            font-size:rem(15);
            line-height:1.47;
          }
          &:nth-child(2) {
            width:60%;
            font-size:rem(12);
            font-weight:300;
            line-height:1.75;
          }
        }
      }
      .pro-con-2 {
        margin-top:110px;
        > div {
          width:50%;
          .text-box {
            padding:40px 20px 100px 30px;
          }
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .pro-info {
      .info {
        padding:20px 20px 70px 20px;
        .title {
          font-size:rem(22);
        }
        .text-1 {
          margin-top:15px;
          font-size:rem(15);
        }
        .price {
          margin-top:10px;
          font-size:rem(15);
        }
        .text-2 {
          margin:25px 0 35px 0;
          font-size:rem(13);
          line-height:1.77;
        }
        .button {
          position:static;
        }
      }
    }
    .pro-content {
      .pro-con-1 {
        > div {
          margin-top:16px;
        }
      }
      .pro-text-1 {
        flex-flow:column;
        padding:30px 20px 0 20px;
        text-align:left;
        p {
          &:first-child {
            width:100%;
            font-size:rem(16);
            line-height:1.47;
            br {
              display:none;
            }
          }
          &:nth-child(2) {
            width:100%;
            margin-top:15px;
            font-size:rem(13);
            line-height:1.69;
          }
        }
      }
      .pro-con-2 {
        margin-top:80px;
        > div {
          width:100%;
          .text-box {
            padding:30px 20px 70px 20px;
          }
        }
      }
    }
  }

}

// product-look
.pro-look {
  position:relative;
  height:454px;
  overflow:hidden;
  &.bg-type-1 {
    background-color:#d0cfcd;
  }
  &.bg-type-2 {
    background-color:#cfcbcc;
  }
  &.bg-type-3 {
    background-color:#d7d6d4;
  }
  img {
    width:auto;
    height:100%;
  }
  .text-box {
    position:absolute;
    top:145px;
    right:145px;
    text-align:right;
    p {
      margin-bottom:30px;
      font-size:rem(21);
      line-height:1.61;
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    height:364px;
    img {
      margin-left:-7%;
    }
    .text-box {
      top:127px;
      right:55px;
      p {
        margin-bottom:15px;
        font-size:rem(13);
        line-height:1.69;
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){    
    height:202px;
    img {
      margin-left:-24%;
    }
    .text-box {
      top:55px;
      right:25px;
      p {
        margin-bottom:20px;
        font-size:rem(13);
        line-height:1.69;
      }
    }
  }
}

// contents-box
.contents-box {
  overflow:hidden;
  .contents-list {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin:0 -11px;
    > li {
      width:33.3%;
      padding:0 11px 130px 11px;
      a {
        display:block;
        color:inherit;
        .image {
          text-align:center;
          img {
            max-width:100%;
          }
        }
        .text-con {
          padding:46px 50px 0 50px;
          .title {
            margin-bottom:20px;
            font-size:rem(22);
            line-height:1.35;
          }
          .text {
            font-size:rem(14);
            line-height:1.73;
          }
        }
      }
    }
  }
  
  // tablet
  @include mediaQuery($deviceMiddle){
    .contents-list {
      margin:0 -6px 0;
      > li {
        width:50%;
        padding:0 6px 60px 6px;
        a {
          .text-con {
            padding:30px 30px 0 30px;
            .title {
              margin-bottom:15px;
              font-size:rem(16);
              line-height:1.25;
            }
            .text {
              font-size:rem(12);
              line-height:1.75;
            }
          }
        }
      }
    }
  }
  
  // mobile
  @include mediaQuery($deviceSmall){
    .contents-list {
      margin:0 0 0;
      > li {
        width:100%;
        padding:0 0 65px 0;
        a {
          .text-con {
            padding:30px 20px 0 20px;
            .title {
              margin-bottom:15px;
              font-size:rem(16);
              font-weight:500;
              line-height:1.25;
            }
            .text {
              font-size:rem(13);
              line-height:1.69;
            }
          }
        }
      }
    }
  }

}

// contents-detail
.contents-detail {
  .con-image-1 {
    img {
      width:100%;
    }
  }
  .con-image-2 {
    display:flex;
    width:100%;
    justify-content:space-between;
    > div {
      width:33.333%;
      img {
        width:100%;
      }
    }
  }
  .con-image-3 {
    display:flex;
    width:100%;
    justify-content:space-between;
    > div {
      width:50%;
      img {
        width:100%;
      }
    }
    .text-box {
      padding:35px 60px 155px 65px;
      p,
      li {
        font-size:rem(16);
        line-height:1.9;
        strong {
          font-weight:500;
        }
      }
      .list-1 {
        margin-top:10px;
      }
    }
  }
  .con-text-type {
    display:flex;
    width:100%;
    justify-content:space-between;
    padding:50px 155px 155px 60px;
    .tit {
      width:40%;
      margin-top:-4px;
      color:#3d3d3d;
      font-size:rem(19);
      strong {
        display:block;
        margin-bottom:25px;
        font-size:rem(39);
        font-weight:300;
      }
    }
    .tit-2 {
      width:40%;
      font-size:rem(24);
    }
    .txt {
      flex:1;
      font-size:rem(16);
      line-height:1.9;
      letter-spacing:-0.3px;
      strong {
        font-weight:500;
      }
    }
  }
  .con-product {
    position:relative;
    height:454px;
    .image-box {
      width:100%;
      height:454px;
      overflow:hidden;
      img {
        height:100%;
      }
    }
    .text-box {
      position:absolute;
      top:145px;
      right:145px;
      text-align:right;
      p {
        margin-bottom:30px;
        font-size:rem(21);
        line-height:1.61;
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    .con-image-3 {
      .text-box {
        padding:40px 20px 100px 30px;
        p,
        li {
          font-size:rem(13);
          font-weight:300;
          line-height:1.77;
        }
        .list-1 {
          margin-top:5px;
        }
      }
    }
    .con-text-type {
      padding:35px 30px 110px 30px;
      .tit {
        font-size:rem(15);
        font-weight:300;
        strong {
          margin-bottom:15px;
          font-size:rem(24);
        }
      }
      .tit-2 {
        font-size:rem(15);
      }
      .txt {
        font-size:rem(13);
        font-weight:300;
        line-height:1.77;
        letter-spacing:-0.2px;
      }
    }
    .con-product {
      height:364px;
      .image-box {
        height:364px;
        img {
          margin-left:-7%;
        }
      }
      .text-box {
        top:127px;
        right:55px;
        p {
          margin-bottom:15px;
          font-size:rem(13);
          line-height:1.69;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .con-image-2 {
      flex-wrap:wrap;
      > div {
        width:100%;
      }
    }
    .con-image-3 {
      flex-wrap:wrap;
      > div {
        width:100%;
      }
      .text-box {
        padding:30px 20px 80px 20px;
        p,
        li {
          font-size:rem(13);
          line-height:1.77;
        }
        .list-1 {
          margin-top:5px;
        }
        .text-1 {
          strong {
            font-weight:500;
          }
        }
      }
    }
    .con-text-type {
      flex-wrap:wrap;
      padding:30px 20px 65px 20px;
      .tit {
        width:100%;
        font-size:rem(15);
        font-weight:500;
        strong {
          margin-bottom:15px;
          font-size:rem(22);
          br {
            display:none;
          }
        }
      }
      .tit-2 {
        width:100%;
        font-size:rem(15);
        font-weight:500;
      }
      .txt {
        width:100%;
        margin-top:30px;
        font-size:rem(13);
        line-height:1.77;
        letter-spacing:-0.2px;
        strong {
          font-weight:500;
        }
      }
    }
    .con-product {
      height:202px;
      .image-box {
        height:202px;
        img {
          margin-left:-20%;
        }
      }
      .text-box {
        top:55px;
        right:25px;
        p {
          margin-bottom:20px;
          font-size:rem(13);
          line-height:1.69;
        }
      }
    }
  }
}

// brand-contents
.brand-contents {
  .brand-image {
    img {
      width:100%;
    }
  }
  .brand-text-1 {
    padding:30px 0 230px 0;
    text-align:center;
    p {
      font-size:rem(30);
      font-weight:300;
      line-height:1.97;
      letter-spacing:-1.4px;
      & + p {
        margin-top:30px;
      }
    }
  }
  .brand-concept {
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:160px 9% 210px;
    li {
      width:21%;
      h3 {
        font-size:rem(38);
      }
      p {
        margin-top:30px;
        font-size:rem(18);
        line-height:1.72;
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    .brand-text-1 {
      padding:30px 70px 170px 70px;
      p {
        font-size:rem(22);
        line-height:1.86;
        letter-spacing:-1px;
        & + p {
          margin-top:20px;
        }
        br {
          display:none;
        }
      }
    }
    .brand-concept {
      flex-wrap:wrap;
      padding:5px 0 0;
      li {
        width:50%;
        padding:35px 40px 75px 30px;
        h3 {
          font-size:rem(20);
        }
        p {
          margin-top:15px;
          font-size:rem(12);
          line-height:1.75;
        }
        &:nth-child(n+3) {
          border-top:1px solid #dbdad7;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .brand-text-1 {
      padding:20px 28px 90px 28px;
      p {
        font-size:rem(14);
        line-height:1.79;
        letter-spacing:-0.6px;
        & + p {
          margin-top:20px;
        }
        br {
          display:none;
        }
      }
    }
    .brand-concept {
      flex-wrap:wrap;
      padding:5px 0 0;
      li {
        width:100%;
        padding:30px 20px 40px 20px;
        h3 {
          font-size:rem(18);
        }
        p {
          margin-top:10px;
          font-size:rem(12);
          line-height:1.69;
        }
        &:nth-child(n+2) {
          border-top:1px solid #dbdad7;
        }
      }
    }
  }
}