// header styling
header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 50px;
  background-color:#222;
  z-index: 10;
  > div {
    position:relative;
    max-width:980px;
    margin:0 auto;
  }
  h1 {
    position:absolute;
    top:0;
    left:0;
    padding-top:2px;
    a {
      color:#fff;
    }
  }
  #gnb {
    padding:0 0 0 300px;
    ul {
      display:flex;
      justify-content: space-between;
      width:100%;
      padding:12px 0 0 0;
      a {
        color:#fff;
      }
    }
  }
}