// body
body {

  &.scroll-hidden {
    overflow: hidden;
  }

  color:$color-default;
  background-color:#222;
  overscroll-behavior: none;
}

// layout
#contents {
  position:relative;
  padding-top:50px;
}

// dim
.dim {
  display:none;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.8);
  z-index:10;
  &.active {
    display:block;
  }
}