@charset 'UTF-8';

// font embed :: google webfont
// @import 'http://fonts.googleapis.com/earlyaccess/notosanskr.css';

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light'), url(/fonts/NotoSans-Light.eot);
  src: url(/fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans-Light.woff2) format('woff2'),
    url(/fonts/NotoSans-Light.woff) format('woff');
  ;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/fonts/NotoSans-Regular.eot);
  src: url(/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans-Regular.woff2) format('woff2'),
    url(/fonts/NotoSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(/fonts/NotoSans-Medium.eot);
  src: url(/fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans-Medium.woff2) format('woff2'),
    url(/fonts/NotoSans-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(/fonts/NotoSansKR-Bold.eot);
  src: url(/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/NotoSans-Bold.woff2) format('woff2'),
    url(/fonts/NotoSans-Bold.woff) format('woff');
}

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Noto Sans KR Light'), local('NotoSansKR-Light');
//   src: url(/fonts/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
//     url(/fonts/NotoSansKR-Light.woff2) format('woff2'),
//     url(/fonts/NotoSansKR-Light.woff) format('woff');
//   ;
// }

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Noto Sans Regular'), local('NotoSansKR-Regular');
//   src: url(/fonts/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
//     url(/fonts/NotoSansKR-Regular.woff2) format('woff2'),
//     url(/fonts/NotoSansKR-Regular.woff) format('woff');
// }

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Noto Sans Medium'), local('NotoSansKR-Medium');
//   src: url(/fonts/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
//     url(/fonts/NotoSansKR-Medium.woff2) format('woff2'),
//     url(/fonts/NotoSansKR-Medium.woff) format('woff');
// }

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Noto Sans Bold'), local('NotoSansKR-Bold');
//   src: url(/fonts/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
//     url(/fonts/NotoSansKR-Bold.woff2) format('woff2'),
//     url(/fonts/NotoSansKR-Bold.woff) format('woff');
// }


// 환경설정과 변수, 함수
@import 'env.scss';

// reset
@import 'base.scss';

// swiper
@import 'swiper.min.css';

// element
@import 'text.scss';
@import 'button.scss';
@import 'input.scss';
@import 'tab.scss';

// details
@import 'layout.scss';
@import 'header.scss';
@import 'main.scss';
@import 'contents.scss';
@import 'footer.scss';