// .tab-type
.tab-type-1 {
  margin-bottom:30px;
  text-align:center;
  li {
    position:relative;
    display:inline-block;
    margin:0 12px;
    &:after {
      content:'';
      display:block;
      position:absolute;
      bottom:0;
      left:50%;
      width:0;
      height:1px;
      background-color:$color-default;
      transition:all .2s ease-in-out;
    }
    a {
      display:block;
      padding:5px 0;
      color:$color-default;
      font-size:rem(17);
      line-height:1.19;
      letter-spacing:-0.3;
    }

    // active
    &.active {
      &:after {
        left:0;
        width:100%;
      }
    }
  }

  // tablet
  @include mediaQuery($deviceMiddle){
    
    margin-bottom:25px;
    li {
      a {
        font-size:rem(25);
      }
    }

  }

  // mobile
  @include mediaQuery($deviceSmall){
    
    margin-bottom:15px;
    li {
      margin:0 6px;
      a {
        font-size:rem(12);
      }
    }

  }
}